body {
    margin: 15px;
    padding: 0;
    background-color: bisque;
    font-family:tahoma;
    color: black;
}
.button button{
    padding: 8px 16px;
    background-color: #3d3d3d;
    text-decoration: none;
    border-radius: 25px;
    color: #ffd154;
}
textarea{
    background-color: #ffd154;
}
.name input{
    border-radius: 10px;
}
.quoctich input{
    border-radius: 10px;
}
.button button.a {
    box-shadow: 5px 5px 10px rgb(114, 114, 114) !important;
    background-color: rgb(187, 187, 187);
    color: rgb(114, 114, 114);
}