img{
        height: 150px;
        padding: 10px;
        margin: 5px;
        border-radius: 20px;
        background-color: yellow;
        box-shadow: 5px 5px blue;
}
img:hover{
    box-shadow: 20px 20px red;
    background-color: aqua;
}