body{
    padding: 0px;
    margin: 0px;
}
.container{
    max-width: 100%;
    margin: 0 auto;
}
.container>header{
    background-image: url('lofo.jpg');
    background-size: 100% 100%;
    height: 0px;
    padding-bottom: 25%;
}
.container>nav{
    line-height: 40px;
    background-color: orangered;
    color: white;
    text-align: center;
    font-variant: small-caps;
}
.container>article{
    min-height: 40px;
    width: 75%;
    background-color: white;
    float: left;
}
.container>aside{
    min-height: 400px;
    width: 25%;
    background-color: lightgray;
    float: right;
}
.container>footer{
    clear: both;
    line-height: 50px;
    border-top: 5px double orangered;   
    text-align: center;
    font-variant: small-caps;
    background-color: lightcyan;
    margin-top: 50px;
}
.container>nav>a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
.container>nav>a:hover{
    color: yellow;
    text-decoration: underline;;
}
iframe{
    width: 100%;
    min-height: 400px;
}